{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
<div id="app" class="clearfix">
  <div class="map-container col-sm-8 col-lg-9">
    <div>
      <div id="map-canvas"></div>
    </div>
  </div>
  <div id="control-panel" class="col-sm-4 col-lg-3 clearfix">
    <div class="col-xs-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body" id="options-panel">
          <div>
            <h4>Hotels</h4>
            <select data-type="hotel" id="hotel-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Restaurants</h4>
            <select data-type="restaurant" id="restaurant-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
          <div>
            <h4>Activities</h4>
            <select data-type="activity" id="activity-choices">

            </select>
            <button data-action="add" class="btn btn-primary btn-circle pull-right">+</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-12">
      <h3>
        <span id="day-title">
          <span>Day 2</span>
          <button class="btn btn-xs btn-danger remove btn-circle">x</button>
        </span>
      </h3>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="day-buttons">
            <button class="btn btn-circle day-btn day-num">1</button>
            <button class="btn btn-circle day-btn" id="day-add">+</button>
 <!--            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button> -->

          </div>
        </div>
        <div class="panel-body" id="itinerary">
          <div>
            <h4>My Hotel</h4>
            <ul class="list-group" id="hotel-choices-itinerary">
              <div class="itinerary-item">
                <span class="title">   </span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Restaurants</h4>
            <ul class="list-group">
              <div class="itinerary-item" id="restaurant-choices-itinerary">
                <span class="title">   </span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
          <div>
            <h4>My Activities</h4>
            <ul class="list-group">
              <div class="itinerary-item" id="activity-choices-itinerary">
                <span class="title">   </span>
                <button class="btn btn-xs btn-danger remove btn-circle">x</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/jquery/jquery.min.js"></script>


<script>
  let hotels = {{ hotels | dump | safe }};
  let restaurants = {{ restaurants | dump | safe }};
  let activities = {{ activities | dump | safe }};
  let index = 1;
  let arrayOfDays = [];
  let iconURLs = {
    hotel: '../public/images/lodging_0star.png',
    restaurant: '../public/images/restaurant.png',
    activity: '../public/images/star-3.png'
  };
  for(let i = 0; i < hotels.length; i++){
    $('#hotel-choices').append('<option>' + hotels[i].name + '</option>');
    $('#restaurant-choices').append('<option>' + restaurants[i].name + '</option>');
    $('#activity-choices').append('<option>' + activities[i].name + '</option>');
  }
  //Add to itinerary button
  $('.btn-primary').on('click', function(){
    let id = $(this).siblings('select').attr('id');
    let type = $(this).siblings('select').attr('data-type');
    let option = $(this).siblings('select').val();
    $('#' + id + '-itinerary').append('<div>' + option + '</div>');
    $('#' + id + '-itinerary div').css({display: block});
    //drawMarker(type, hotels[0].place.location);
  });
  //Remove itinerary button
  $('.btn-danger').on('click', function(){
    let spanId = $(this).siblings('span').attr('id');
    // if(spanId === 'day-title'){
    // }
    $(this).siblings('span').text('');
  });
  //Add days button
  $('#day-add').on('click', function(){
    index++;
    let newButton = '<button>' + index + '</button>';
    $('#day-add').before(newButton);
    $('.day-buttons button').addClass('btn btn-circle day-btn day-num');

  });

  // function drawMarker (type, coords) {
  //   var latLng = new google.maps.LatLng(coords[0], coords[1]);
  //   var iconURL = iconURLs[type];
  //   var marker = new google.maps.Marker({
  //     icon: iconURL,
  //     position: latLng
  //   });
  //   marker.setMap(currentMap);
  // }
</script>
{% endblock %}

